<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Calcula Mais</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<h2> Equação de Segundo Grau com número inteiros.</h2>
	<form id="formulario">
		ax²:<input type="number" name="a" class="a" required> 
		bx: <input type="number" name="b" class="b" required> 
		c: <input type="number"	name="c" class="c" required>
		<button id="calcula">Calcular</button>
	</form>
	<p id="resposta"></p>

	<script th:inline="javascript">
		$("#calcula").click(
				function(event) {
					event.preventDefault();

					var form = document.querySelector("#formulario");

					var a = form.a.value;
					var b = form.b.value;
					var c = form.c.value;

					$.get("http://localhost:8080/resposta/" + a + "/" + b + "/"
							+ c, function(data) {
						console.log(data);
						document.getElementById('resposta').innerHTML = data;

					});

				});
	</script>
</body>
</html>